 <div style = "position:absolute; right:80px; top:80px;" class="alert">

      {% if messages %}
        {% for message in messages %}
        <div class="alert {{message.tags}}">
        <input type="checkbox" id="alert1"/>
        <hr>
        <label class="close" title="close" for="alert1">
          <i class="icon-remove"></i>
        </label>
        <p class="inner" style="width: 150px;">
          <strong></strong> {{message}}
        </p>
        </div>

        
        {% endfor %}
      {% endif %}
  
    </div>