<header class="header">
  <div class="header-inner">
    <nav
      class="navbar navbar-expand-lg bg-barren barren-head navbar fixed-top justify-content-sm-start pt-0 pb-0"
    >
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon">
            <i class="fa-solid fa-bars"></i>
          </span>
        </button>
        <a
          class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 me-auto"
          href="index.html"
        >
          <div class="res-main-logo">
            <img src="images/logo-icon.svg" alt="" />
          </div>
          <div class="main-logo" id="logo">
            <img src="images/logo.svg" alt="" />
            <img class="logo-inverse" src="images/dark-logo.svg" alt="" />
          </div>
        </a>
        <div
          class="offcanvas offcanvas-start"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <div class="offcanvas-logo" id="offcanvasNavbarLabel">
              <img src="images/logo-icon.svg" alt="" />
            </div>
            <button
              type="button"
              class="close-btn"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="offcanvas-body">
            <div class="offcanvas-top-area">
              <div class="create-bg">
                <a
                  href="{% url 'create-event' %}"
                  class="offcanvas-create-btn"
                >
                  <i class="fa-solid fa-calendar-days"></i>
                  <span>Create Event</span>
                </a>
              </div>
            </div>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe_5">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="index.html#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Explore Events
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/explore_events.html"
                      >Explore Events</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/venue_event_detail_view.html"
                      >Venue Event Detail View</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/online_event_detail_view.html"
                      >Online Event Detail View</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/pricing.html"
                  >Pricing</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="index.html#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Blog
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/our_blog.html"
                      >Our Blog</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/blog_detail_view.html"
                      >Blog Detail View</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="index.html#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Help
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/faq.html"
                      >FAQ</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/help_center.html"
                      >Help Center</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/contact_us.html"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="index.html#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Pages
                </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item submenu-item" href="index.html#"
                      >Other Pages</a
                    >
                    <ul class="submenu dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/sign_in.html"
                          >Sign In</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/sign_up.html"
                          >Sign Up</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/forgot_password.html"
                          >Forgot Password</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/about_us.html"
                          >About Us</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/checkout.html"
                          >Checkout</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/checkout_premium.html"
                          >Checkout Premium</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/invoice.html"
                          >Invoice</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/coming_soon.html"
                          >Coming Soon</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/error_404.html"
                          >Error 404</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item submenu-item" href="{% url 'create-event'%}"
                      >Create Event</a>
                    <ul class="submenu dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/create.html"
                          >Create</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/create_venue_event.html"
                          >Create Venue Event</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/create_online_event.html"
                          >Create Online Event</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item submenu-item" href="index.html#"
                      >Events View</a
                    >
                    <ul class="submenu dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/online_event_detail_view.html"
                          >Online Event Detail View</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pe-5"
                          href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/venue_event_detail_view.html"
                          >Venue Event Detail View</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/booking_confirmed.html"
                      >Booking Confirmed</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/attendee_profile_view.html"
                      >Attendee Profile View</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/organiser_profile_view.html"
                      >Organiser Profile View</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/my_organisation_dashboard.html"
                      >Organization Dashboard</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/sell_tickets_online.html"
                      >Sell Tickets Online</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/refer_a_friend.html"
                      >Refer a Friend</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/term_and_conditions.html"
                      >Terms & Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/privacy_policy.html"
                      >Privacy Policy</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="offcanvas-footer">
            <div class="offcanvas-social">
              <h5>Follow Us</h5>
              <ul class="social-links">
                <li>
                  <a href="index.html#" class="social-link"
                    ><i class="fab fa-facebook-square"></i
                  ></a>
                </li>
                <li>
                  <a href="index.html#" class="social-link"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="index.html#" class="social-link"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="index.html#" class="social-link"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a href="index.html#" class="social-link"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-header order-2">
          <ul class="align-self-stretch">
            <li>
              <a
                href="{% url 'create-event' %}"
                class="create-btn btn-hover"
              >
                <i class="fa-solid fa-calendar-days"></i>
                <span>Create Event</span>
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="dropdown account-dropdown">
              <a
                href="#"
                class="account-link"
                role="button"
                id="accountClick"
                data-bs-auto-close="outside"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img src="{{profile.profile_image.url}}" alt="" />
                <i class="fas fa-caret-down arrow-icon"></i>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-account dropdown-menu-end"
                aria-labelledby="accountClick"
              >
                <li>
                  <div class="dropdown-account-header">
                    <div class="account-holder-avatar">
                      <img src="{{profile.profile_image.url}}" alt="" />
                    </div>
                    <h5>{{user.username}}</h5>
                    

                    <p>
                      
                    </p>
                  </div>
                </li>
                <li class="profile-link">
                  
                  <a
                    href="#"
                    class="link-item"
                    >My Profile</a
                  >
                  <a
                    href="{% url 'user-logout' %}"
                    class="link-item"
                    >Sign Out</a
                  >
                </li>
              </ul>
            </li>
            {% else %}

            <li>
              <a
                href="{%url 'user-login'%}"
                class="create-btn btn-hover"
              >
                <i class="fa-solid fa-user"></i>
                <span>Login </span>
              </a>
            </li>
            {% endif %}
            <li>
              <div class="night_mode_switch__btn">
                <div id="night-mode" class="fas fa-moon fa-sun"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="overlay"></div>
  </div>
</header>
